{% extends "base.html" %}

{% block content %}

  <h1>
    My buggy editor, wahgwan broski's whats happenin
  </h1>

  <div class="spacer">
    <a href="/new" class="button">Make buggy</a>
    <a href="/buggy" class="button">Show buggies</a>
    <a href="/json" class="button">Get buggy JSON</a>
  </div>

  <p>
    Welcome to my buggy editor, the background is a picture of the Arabsat 2018 Falcon Heavy SpaceX launch. 
    <a href="https://youtu.be/dQw4w9WgXcQ">This</a> link also shows some visual elements for my buggy.
  </p>

{% endblock %}
